block entry_form
  #values
    if values
      h1(class="display-6 pb-2") Episode Entry
      form(action='/episode/new', method='POST' class='was-validated')
        div(class='row')
          div(class='form-group col-6 mb-3')
            label Select a Show
            select(name='show_id', id='show_id' required, class='form-select')
              option(value= values.show_id) #{show_name}
              if shows
                each show in shows
                  option(value= show.id) #{show.show_name}
        div(class='row')
          div(class='form-group col-3 mb-3')
            label Season Number
            input(type='text', id='season_number', name='season_number', value= (values.season_number ? values.season_number : values.season.season_number) required, class='form-control border-secondary')
          div(class='form-group col-3')
            label Episode Number
            input(type='text', name='episode_number', value= values.episode_number, required, class='form-control border-secondary')
          div(class='form-group col')
            label Title
            input(type='text', name='title', value= values.title, required, class='form-control border-secondary')
          div(class='form-group mb-3')
            label Description
            input(type='text', name='description', value= values.description, required, class='form-control border-secondary mb-3')
            input(type='submit', value='Submit', class='btn btn-primary w-25 mb-3')
            p(class='text-danger') #{message}
    else
      h1(class="display-6 pb-2") Episode Entry
      form(action='/episode/new', method='POST' class='was-validated')
        div(class='row')
          div(class='form-group col-6 mb-3')
            label Select a Show
            select(name='show_id', id='show_id' required, class='form-select')
              option(value= '') Select a Show
                if shows
                  each show in shows
                    option(value= show.id) #{show.show_name}
        div(class='row')
          div(class='form-group col-3 mb-3')
            label Season Number
            input(type='text', name='season_number', required, class='form-control border-secondary')
          div(class='form-group col-3')
            label Episode Number
            input(type='text', name='episode_number', required, class='form-control border-secondary')
          div(class='form-group col')
            label Title
            input(type='text', name='title', required, class='form-control border-secondary')
          div(class='form-group mb-3')
            label Description
            input(type='text', name='description', required, class='form-control border-secondary mb-3')
            input(type='submit', value='Submit', class='btn btn-primary w-25')
  #data
    if data
      .content
        div(class="mt-5")
        h2(class="display-6 pb-2" style="font-size: xx-large;") Episode Confirmation
          div(class="row fs-4 shadow p-3 mt-3 mb-3 bg-body rounded") 
            .row
              ul(class="list-group list-group-flush")
                li(class="list-group-item m-1")
                  <strong>ID:</strong> #{data.update_episodes_by_pk ? data.update_episodes_by_pk.id : data.insert_episodes.returning[0].id}
                li(class="list-group-item m-1")
                  <strong>Show:</strong> #{data.update_episodes_by_pk ? data.update_episodes_by_pk.season.show.show_name : data.insert_episodes.returning[0].season.show.show_name}                
                li(class="list-group-item m-1")
                  <strong>Season:</strong> #{data.update_episodes_by_pk ? data.update_episodes_by_pk.season.season_number : data.insert_episodes.returning[0].season.season_number}
                li(class="list-group-item m-1")
                  <strong>Episode:</strong> #{data.update_episodes_by_pk ? data.update_episodes_by_pk.episode_number : data.insert_episodes.returning[0].episode_number}          
                li(class="list-group-item m-1")
                  <strong>Title:</strong> #{data.update_episodes_by_pk ? data.update_episodes_by_pk.title : data.insert_episodes.returning[0].title}
                li(class="list-group-item m-1")
                  <strong>Description:</strong> #{data.update_episodes_by_pk ? data.update_episodes_by_pk.description : data.insert_episodes.returning[0].description}
