extends layout

block content
  form(action='/episode/new', method='POST')
    p
      | Season Number:
      input(type='text', name='season_number', value='')
      |          Episode Number: 
      input(type='text', name='episode_number', value='')
      |          Title: 
      input(type='text', name='title', value='')
      |          Description: 
      input(type='text', name='description', value='')
      input(type='submit', value='Submit')
  #data
    if data
      .content 
        p| <strong>ID:</strong> #{data.insert_episodes.returning[0].id} 
        p| <strong>Season:</strong> #{data.insert_episodes.returning[0].season.season_number}
        p| <strong>Episode:</strong> #{data.insert_episodes.returning[0].episode_number}
        p| <strong>Title:</strong> #{data.insert_episodes.returning[0].title}
        p| <strong>Description:</strong> #{data.insert_episodes.returning[0].description}
