extends layout

block content  
  #values
    if values
      h1(class="display-6 pb-2") Episode Entry
      form(action='/episode/new', method='POST' class='was-validated')
        div(class='row')
          div(class='form-group col-3 mb-3')
            label Season Number
            input(type='text', name='season_number', value= values.season_number, required, class='form-control border-secondary')
          div(class='form-group col-3')
            label Episode Number
            input(type='text', name='episode_number', value= values.episode_number, required, class='form-control border-secondary')
          div(class='form-group col')
            label Title
            input(type='text', name='title', value= values.title, required, class='form-control border-secondary')
          div(class='form-group mb-3')
            label Description
            input(type='text', name='description', value= values.description, required, class='form-control border-secondary mb-3')
            input(type='submit', value='Submit', class='btn btn-primary w-25 mb-3')
            p(class='text-danger') #{message}
    else
      h1(class="display-6 pb-2") Episode Entry
      form(action='/episode/new', method='POST' class='was-validated')
        div(class='row')
          div(class='form-group col-3 mb-3')
            label Season Number
            input(type='text', name='season_number', required, class='form-control border-secondary')
          div(class='form-group col-3')
            label Episode Number
            input(type='text', name='episode_number', required, class='form-control border-secondary')
          div(class='form-group col')
            label Title
            input(type='text', name='title', required, class='form-control border-secondary')
          div(class='form-group mb-3')
            label Description
            input(type='text', name='description', required, class='form-control border-secondary mb-3')
            input(type='submit', value='Submit', class='btn btn-primary w-25')
  #data
    if data
      .content 
        p| <strong>ID:</strong> #{data.insert_episodes.returning[0].id} 
        p| <strong>Season:</strong> #{data.insert_episodes.returning[0].season.season_number}
        p| <strong>Episode:</strong> #{data.insert_episodes.returning[0].episode_number}
        p| <strong>Title:</strong> #{data.insert_episodes.returning[0].title}
        p| <strong>Description:</strong> #{data.insert_episodes.returning[0].description}
