extends layout

block content  
  #values
    if values
      form(action='/episode/new', method='POST')
        p
          | Season Number:
          input(type='text', name='season_number', value= values.season_number, class='episodes')
          | Episode Number: 
          input(type='text', name='episode_number', value= values.episode_number, class='episodes')
          | Title: 
          input(type='text', name='title', value= values.title, class='episodes')
          | Description: 
          input(type='text', name='description', value= values.description, class='episodes')
          input(type='submit', value='Submit', class='episodes')
        p(class='text-danger') #{message}
    else
      form(action='/episode/new', method='POST')
        p
          | Season Number:
          input(type='text', name='season_number', value= '', required, class='episodes')
          | Episode Number: 
          input(type='text', name='episode_number', value= '', required, class='episodes')
          | Title: 
          input(type='text', name='title', value= '', required, class='episodes')
          | Description: 
          input(type='text', name='description', value= '', required, class='episodes')
          input(type='submit', value='Submit', class='episodes')
  #data
    if data
      .content 
        p| <strong>ID:</strong> #{data.insert_episodes.returning[0].id} 
        p| <strong>Season:</strong> #{data.insert_episodes.returning[0].season.season_number}
        p| <strong>Episode:</strong> #{data.insert_episodes.returning[0].episode_number}
        p| <strong>Title:</strong> #{data.insert_episodes.returning[0].title}
        p| <strong>Description:</strong> #{data.insert_episodes.returning[0].description}
