extends layout

block content
    div(class="mx-auto text-center")
      h1(class="display-6 pb-2") #{title}
    div(class="d-flex align-items-center justify-content-center pb-2")
      img(src=(`${image}`), alt="It's Always Sunny in Philadelphia Cast Member")
    div(class="recommendation")
      p(class="fs-5 text-primary shadow p-3 mt-3 bg-body rounded") #{name} says you should watch <br /> Season #{season}, Episode #{episode}.
      .d-flex.flex-row
        a(href="/" class="btn btn-primary btn-lg w-50 mt-3 me-2") Shuffle
        a(href="/details" class="btn btn-outline-primary btn-lg w-50 mt-3 ms-2") Details
      .d-flex.flex-row.mt-3
      if episodeTitle
        p #{episodeTitle}
        p #{episodeDescription}