extends layout

block content
  .container-fluid
    .row
      .col
        form(id="selectShow", method='POST')
          select(id="showPicker", class="w-100", onChange=script)
            if shows
              each show in shows
                option(value="") Select a Show 
                option(value=show.id) #{show.show_name}
            else
              option(value=show.id) #{show.show_name}
      .col
        form(id="selectSeason", method='POST')
          select(id="seasonPicker", class="w-100")
            if singleSeason
              each season in seasons
                option(value=season.id) #{season.season_number}
              option(value=singleSeason.id selected hidden) #{singleSeason.season_number}  
            else if seasons
              each season in seasons
                option(value=season.id) #{season.season_number}
            else 
              option(value="") Select a show to see seasons
      .col
        form(id="selectEpisode", method='POST')
          select(id="episodePicker", class="w-100")
            if episodes
              each episode in episodes
                option(value=episode.id) Episode #{episode.episode_number + ": " + episode.title}
            else 
              option(value="") Select a show to see episodes              
    script.
      const selectShowForm = document.getElementById("selectShow");
      const selectSeasonForm = document.getElementById("selectSeason");
      const selectEpisodeForm = document.getElementById("selectEpisode");

      let showId;
      let seasonId;
      let episodeId;

      selectShowForm.addEventListener('change', (event) => {
        showId = document.getElementById("showPicker").value;
        selectShowForm.action = `/episode/edit/${showId}`;
        selectShowForm.submit();
      });

      selectSeasonForm.addEventListener('change', (event) => {
        showId = document.getElementById("showPicker").value;
        seasonId = document.getElementById("seasonPicker").value;
        selectSeasonForm.action = `/episode/edit/${showId}/${seasonId}`;
        selectSeasonForm.submit();
      });

      selectEpisodeForm.addEventListener('change', (event) => {
        showId = document.getElementById("showPicker").value;
        seasonId = document.getElementById("seasonPicker").value;
        episodeId = document.getElementById("episodePicker").value;
        selectEpisodeForm.action = `/episode/edit/${showId}/${seasonId}/${episodeId}`;
        selectEpisodeForm.submit();
      });


      
      