extends layout

block content
  .container-fluid
    .row
      .col
        form(id="selectShow", method='POST')
          select(id="showPicker", class="w-100")
            if singleShow
              each show in shows
                if show.id === singleShow.id
                  option(value=show.id selected) #{show.show_name}              
                else
                  option(value=show.id) #{show.show_name}
            else if shows
              option(value="") Select a Show               
              each show in shows
                option(value=show.id) #{show.show_name}
      .col
        form(id="selectSeason", method='POST')
          select(id="seasonPicker", class="w-100")
            if singleSeason
              each season in seasons
                if season.id === singleSeason.id
                  option(value=season.id selected) Season: #{season.season_number}
                else 
                  option(value=season.id) Season: #{season.season_number}
            else if seasons
              option(value="") Select a Season
              each season in seasons              
                option(value=season.id) Season: #{season.season_number}
            else 
              option(value="") Select a show to see seasons
      .col
        form(id="selectEpisode", method='POST')
          select(id="episodePicker", class="w-100")
            if singleEpisode
              each episode in episodes
                if episode.id === singleEpisode.id
                  option(value=episode.id selected) Episode #{episode.episode_number + ": " + episode.title}
                else
                  option(value=episode.id) Episode #{episode.episode_number + ": " + episode.title}
            else if episodes
              option(value="") Select an Episode
              each episode in episodes                
                option(value=episode.id) Episode #{episode.episode_number + ": " + episode.title}
            else 
              option(value="") Select a show to see episodes
    .row.mt-3
      .col
        if singleEpisode 
          p.lead <strong>Title:</strong> #{singleEpisode.title}
          p.lead <strong>Description:</strong> #{singleEpisode.description}
  
  script(src='https://cdn.rurich.dev/form-handler.js')