extends layout

block content
  .container-fluid
    .row.pb-4
      h1(class="display-6 fs-1") Pick an Episode to Edit
      .col
        form(id="selectShow", method='POST')
          select(id="showPicker", class="form-select w-100")
            if singleShow
              each show in shows
                if show.id === singleShow.id
                  option(value=show.id selected) #{show.show_name}              
                else
                  option(value=show.id) #{show.show_name}
            else if shows
              option(value="") Select a Show               
              each show in shows
                option(value=show.id) #{show.show_name}
      .col
        form(id="selectSeason", method='POST')
          select(id="seasonPicker", class="form-select w-100")
            if singleSeason
              each season in seasons
                if season.id === singleSeason.id
                  option(value=season.id selected) Season: #{season.season_number}
                else 
                  option(value=season.id) Season: #{season.season_number}
            else if seasons
              option(value="") Select a Season
              each season in seasons              
                option(value=season.id) Season: #{season.season_number}
            else 
              option(value="") Select a show to see seasons
      .col
        form(id="selectEpisode", method='POST')
          select(id="episodePicker", class="form-select w-100")
            if singleEpisode
              each episode in episodes
                if episode.id === singleEpisode.id
                  option(value=episode.id selected) Episode #{episode.episode_number + ": " + episode.title}
                else
                  option(value=episode.id) Episode #{episode.episode_number + ": " + episode.title}
            else if episodes
              option(value="") Select an Episode
              each episode in episodes                
                option(value=episode.id) Episode #{episode.episode_number + ": " + episode.title}
            else 
              option(value="") Select a show to see episodes
    .row
        - const values = singleEpisode
          if values
            block content
              div(class='form-group pb-4')
                h2(class="display-6 fs-2")
                  label Episode ID
                input(class='form-control', type='text', name='id', id='id', value= values.id, readonly disabled style="cursor: not-allowed;")
              include ./partials/entry-form
          else if !values
            block entry_form
                
              
              
  
  script(src='https://cdn.rurich.dev/form-handler.js')